<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kevin Joseph - Portfolio</title>

    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@110,200..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/styles.css">
</head>

<body data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="70" tabindex="0">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid px-1 mx-5 my-2">
            <a class="navbar-brand fs-3" href="#">Kevin Joseph</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-3 fs-5" id="">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item mx-3 fs-5" id="">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-3 fs-5" id="">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item mx-3 fs-5" id="">
                        <a class="nav-link" href="#certification">Certification</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="mailto:kevinnjooo@gmail.com" class="nav-link fs-6">
                        <i class="fas fa-envelope me-2"></i>kevinnjooo@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero py-5" id="home">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 ps-5 mb-4">
                    <h1>Hi, I am Kevin,</h1>
                    <h2>Data Science Enthusiast</h2>
                    <p>I have a background in Data Science and Machine Learning, leveraging AI to solve complex problems and extract valuable insights. With a keen interest in Web Development, I enjoy building intelligent and scalable applications. Explore my portfolio to see how I bring data and technology together!</p>
                    <a href="#" class="btn btn-resume btn-lg">Download Resume</a>
                </div>
                <div class="col-md-6 text-center">
                    <img src="../static/images/favicon.png" class="img-fluid rounded-circle" style="max-width: 60%; height: auto; object-fit: cover;" alt="Profile Picture">
                </div>
            </div>
        </div>
    </section>

    <!-- Featured Work Section -->
    <section class="featured-works py-5">
        <div class="container">
            <h2>Featured works</h2>
            <div class="row mt-4">
                <!-- Featured Work 1 -->
                <div class="col-md-4 mb-4">
                    <a href="#" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/diddysec.jpeg" class="card-img-top" alt="Project 1">
                            <div class="card-body">
                                <h5 class="card-title">DiddySec: Realtime Network Traffic Monitoring Tool to Detect DDoS Attacks</h5>
                                <p class="card-text"><span class="badge badge-primary">2025</span> Project</p>
                                <p><span class="badge badge-primary">Python</span> <span class="badge badge-primary">Sveltekit</span> <span class="badge badge-primary">Flask</span> <span class="badge badge-primary">XGBoost</span> <span class="badge badge-primary">TShark</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Featured Work 2 -->
                <div class="col-md-4 mb-4">
                    <a href="https://github.com/CicakBelanda/Pacman-Reimaginated-LibGDX" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/pacman.png" class="card-img-top" alt="Project 2">
                            <div class="card-body">
                                <h5 class="card-title">Pacman Reimagined: AI-Powered Gaming Experience through Java-Based Object-Oriented Programming</h5>
                                <p class="card-text"><span class="badge badge-primary">2024</span> Project</p>
                                <p><span class="badge badge-primary">Java</span> <span class="badge badge-primary">LibGDX</span> <span class="badge badge-primary">MySQL</span> <span class="badge badge-primary">Gradle</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Featured Work 3 -->
                <div class="col-md-4 mb-4">
                    <a href="https://www.sciencedirect.com/science/article/pii/S1877050924031624" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/molecule.jpg" class="card-img-top" alt="Project 3">
                            <div class="card-body">
                                <h5 class="card-title">Molecule World: Enhancing Chemistry Education Through Web-Based Augmented Reality Using Assemblr</h5>
                                <p class="card-text"><span class="badge badge-primary">2024</span> Publication</p>
                                <p><span class="badge badge-primary">Assemblr</span> <span class="badge badge-primary">AR</span></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="about pb-5" id="about">
        <div class="container">
            <div class="row align-items-baseline">
                <div class="col-md-6 ps-3 mb-4">
                    <h2>About Me</h2>
                    <p>I am a Computer Science student at Bina Nusantara University with a deep enthusiasm for Data Science, Machine Learning, and Web Development. I have always been passionate about exploring how technology can solve real-world problems, and I constantly seek opportunities to expand my knowledge in these fields. I enjoy working on projects that challenge me to apply both analytical thinking and creativity, whether it's developing intelligent systems, building web applications, or optimizing data-driven solutions. My curiosity drives me to keep learning and adapting to new technologies, ensuring that I stay ahead in the rapidly evolving tech industry.</p>
                    <p>Looking ahead, my goal is to build strong professional relationships and gain more opportunities to improve my technical and problem-solving skills. I believe that networking and collaboration are essential for growth, as they open doors to new perspectives and innovative ideas. Beyond my passion for technology, I also have a strong interest in football and badminton, which helps me stay active, disciplined, and focused. Whether in sports or tech, I strive to push my limits and continuously improve myself in every aspect.</p>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/kkevin.jo/" class="text-dark me-3"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="https://github.com/CicakBelanda" class="text-dark me-3"><i class="fab fa-github fa-2x"></i></a>
                        <a href="https://www.linkedin.com/in/kevin-joseph-handoyo/" class="text-dark"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Experience</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="timeline-badge primary">September 2024 - Present</div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Learning and Training Staff</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Bina Nusantara Computer Club</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>As a Learning and Training Staff at Bina Nusantara Computer Club, I am responsible for coordinating and managing the LnT Regular Class program. I actively collaborate with the praetorian to support the learning process and assist the manager in executing the subdivision’s work programs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-badge primary">September 2024 - Present</div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Product and Curriculum Core Team</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Google Developer Group on Campus @ BINUS Malang</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>As a Product and Curriculum Core Team member at Google Developer Group on Campus Binus Malang, I am responsible for organizing technology-themed events for GDG members. I work closely with the manager to ensure smooth event execution, including selecting speakers, scheduling dates, planning the event rundown, and determining relevant topics.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-badge primary">September 2024 - January 2025</div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Laboratory Teaching Assistant</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Digital Technopreneur Laboratory @ BINUS Malang</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>As a Laboratory Teaching Assistant at Digital Technopreneur Laboratory Binus Malang, I conduct teaching sessions for the Algorithm and Programming course. Additionally, I am responsible for evaluating student assignments and quizzes to ensure their understanding and progress in the subject.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="featured-works py-5" id="portfolio">
        <div class="container">
            <h2>Portfolio</h2>
            <div class="row mt-4">
                <!-- Portfolio Card 1 -->
                <div class="col-md-4 mb-4">
                    <a href="#" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/datamining.png" class="card-img-top" alt="Project 1">
                            <div class="card-body">
                                <h5 class="card-title">Human Development Index (HDI) in Indonesia 2024: Data Mining and Visualization with R</h5>
                                <p class="card-text"><span class="badge badge-primary">2025</span> Project</p>
                                <p class="card-text">This project explores the regional disparities and trends in Indonesia’s human development landscape. Built using R and documented with R Markdown, this project gathers data from multiple online sources, cleans and processes it, then presents key findings through an analytical poster. The goal is to uncover insights related to education, income, and health indicators across provinces, enabling a clearer understanding of national development progress.</p>
                                <p><span class="badge badge-primary">R</span> <span class="badge badge-primary">R Markdown</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Portfolio Card 1 -->
                <div class="col-md-4 mb-4">
                    <a href="#" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/suntikin.png" class="card-img-top" alt="Project 1">
                            <div class="card-body">
                                <h5 class="card-title">Suntik.In: Cloud-Based Immunization Management System using Amazon Web Services</h5>
                                <p class="card-text"><span class="badge badge-primary">2025</span> Project</p>
                                <p class="card-text">Suntik.In is a cloud-based immunization management system designed to streamline vaccination records and scheduling through scalable AWS services. Leveraging cloud architecture and big data technologies, this project ensures secure data handling, real-time access, and analytics-driven insights to improve public health service delivery.</p>
                                <p><span class="badge badge-primary">Cloud</span> <span class="badge badge-primary">AWS</span> <span class="badge badge-primary">Big Data</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Portfolio Card 2 -->
                <div class="col-md-4 mb-4">
                    <a href="https://github.com/CicakBelanda/DiddySec-AI-Based-DDoS-Detector" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/diddysec.jpeg" class="card-img-top" alt="Project 1">
                            <div class="card-body">
                                <h5 class="card-title">DiddySec: Realtime Network Traffic Monitoring Tool to Detect DDoS Attacks</h5>
                                <p class="card-text"><span class="badge badge-primary">2025</span> Project</p>
                                <p class="card-text">DiddySec is a real-time network traffic monitoring tool designed to detect DDoS attacks using Gradient Boosting algorithms. Built with Python, SvelteKit, and XGBoost, this project leverages TShark for packet capture and sklearn for model integration, enabling accurate and responsive anomaly detection in live network environments.</p>
                                <p><span class="badge badge-primary">Python</span> <span class="badge badge-primary">Sveltekit</span> <span class="badge badge-primary">Flask</span> <span class="badge badge-primary">XGBoost</span> <span class="badge badge-primary">TShark</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Portfolio Card 3 -->
                <div class="col-md-4 mb-4">
                    <a href="https://github.com/CicakBelanda/Pacman-Reimaginated-LibGDX" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/pacman.png" class="card-img-top" alt="Project 2">
                            <div class="card-body">
                                <h5 class="card-title">Pacman Reimagined: AI-Powered Gaming Experience through Java-Based Object-Oriented Programming</h5>
                                <p class="card-text"><span class="badge badge-primary">2024</span> Project</p>
                                <p class="card-text">Pacman Reimagined is an AI-powered classic arcade game remake built using Java and LibGDX, with Gradle for dependency management and MySQL for storing game data. This project applies object-oriented programming principles to create an engaging gameplay experience while leveraging database integration for storing high scores and player name.</p>
                                <p><span class="badge badge-primary">Java</span> <span class="badge badge-primary">LibGDX</span> <span class="badge badge-primary">MySQL</span> <span class="badge badge-primary">Gradle</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Portfolio Card 4 -->
                <div class="col-md-4 mb-4">
                    <a href="https://github.com/CicakBelanda/Grocery-Store-Management-Website" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/grocery.png" class="card-img-top" alt="Project 3">
                            <div class="card-body">
                                <h5 class="card-title">Grocery Store Management System: Optimizing Efficiency with MySQL and Flask-Based Web Application</h5>
                                <p class="card-text"><span class="badge badge-primary">2024</span> Project</p>
                                <p class="card-text">Grocery Store Management System is a web application built using Python and Flask for backend development, MySQL for database management, and Bootstrap for a responsive front-end design. This project streamlines store operations by managing inventory, processing transactions, and handling customer orders efficiently.</p>
                                <p><span class="badge badge-primary">Python</span> <span class="badge badge-primary">MySQL</span> <span class="badge badge-primary">Flask</span> <span class="badge badge-primary">Bootstrap</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Portfolio Card 5 -->
                <div class="col-md-4 mb-4">
                    <a href="https://www.sciencedirect.com/science/article/pii/S1877050924031624" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/molecule.jpg" class="card-img-top" alt="Project 4">
                            <div class="card-body">
                                <h5 class="card-title">Molecule World: Enhancing Chemistry Education Through Web-Based Augmented Reality Using Assemblr</h5>
                                <p class="card-text"><span class="badge badge-primary">2024</span> Publication</p>
                                <p class="card-text">Molecule World is a research project that leverages Assemblr's augmented reality (AR) platform to enhance chemistry education through web-based AR experiences. This approach aims to make complex chemical concepts more accessible and engaging for students by integrating interactive 3D visualizations into the learning process.</p>
                                <p><span class="badge badge-primary">Assemblr</span> <span class="badge badge-primary">AR</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Portfolio Card 6 -->
                <div class="col-md-4 mb-4">
                    <a href="https://github.com/CicakBelanda/Final-Project-Data-Structures" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/sales.png" class="card-img-top" alt="Project 5">
                            <div class="card-body">
                                <h5 class="card-title">Sales and Warehouse Management System: Implementing Data Security and Performance Using Hashing Data Structure</h5>
                                <p class="card-text"><span class="badge badge-primary">2024</span> Project</p>
                                <p class="card-text">Sales and Warehouse Management System is a software solution built using C programming language, incorporating Hashing data structure for efficient data storage and retrieval. This project focuses on optimizing inventory tracking, sales processing, and warehouse management by ensuring fast access to product records, reducing search times, and improving overall system performance.</p>
                                <p><span class="badge badge-primary">C</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Portfolio Card 7 -->
                <div class="col-md-4 mb-4">
                    <a href="https://github.com/CicakBelanda/Final-Project-Algorithm-and-Programming" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="../static/images/clothing.png" class="card-img-top" alt="Project 6">
                            <div class="card-body">
                                <h5 class="card-title">Clothing Management App: Streamlining Inventory and Sales with C Programming</h5>
                                <p class="card-text"><span class="badge badge-primary">2023</span> Project</p>
                                <p class="card-text">Clothing Management App is a software application developed using C programming language to facilitate inventory tracking, sales management, and stock organization for clothing stores. This project focuses on providing an efficient system for managing product details, tracking availability, and streamlining operations with a structured and optimized approach.</p>
                                <p><span class="badge badge-primary">C</span></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Certification Section -->
    <section class="certification py-5" id="certification">
        <div class="container">
            <h2>Certifications</h2>
            <div id="certificationCarousel" class="carousel slide my-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/images/Backend - Kevin Joseph Handoyo_page-0001.jpg" class="d-block w-100" alt="Certification 1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Back-End Development</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/Git - CODEPOLITAN_page-0001.jpg" class="d-block w-100" alt="Certification 2">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Basic Git</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/CPP - CODEPOLITAN_page-0001.jpg" class="d-block w-100" alt="Certification 3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Basic C++</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/HTML CSS - CODEPOLITAN_page-0001.jpg" class="d-block w-100" alt="Certification 4">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Basic HTML / CSS</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/Python - CODEPOLITAN_page-0001.jpg" class="d-block w-100" alt="Certification 5">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Basic Python</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/Azure_page-0001.jpg" class="d-block w-100" alt="Certification 6">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Azure AI Fundamentals</h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#certificationCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#certificationCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
